 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Education</h2>
    <p><b>Bachelor in psychology</b> - South Bohemia University (2011 - 2014) with thesis <i>Neuropsychological correlates of emotions</i></p>
    <p><b>Master in psychology</b> - Palacky University (2015 - 2017) with thesis <i>Analysis of EEG signal as a biomarker of schizophrenia</i></p>
    <p><b>Ph.D. in AI and robotics</b> - CIIRC, Czech Technical University (2017 - now) in neural scene representation of dynamic scene based on visual domain sensors grounded with language</p>
  </div>
</div>
<div class="user">
    <div class="tech">
      <h2>Experiences</h2>
      <p><b>EEG researcher and developer</b> - National institute of mental health in Prague (2016 - now)</p>
      <p><b>AI researcher</b> - Czech Institute of Informatics, Robotics, and Cybernetics. Czech Technical University (2017 - now)</p>
    </div>
  </div>
  <div class="user">
    <div class="tech">
      <h2>Programming</h2>
      <i class="devicon-python-plain"></i>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-linux-plain"></i>
      <p>I have 5+ years experience with MATLAB programming. I also can collaborate with Git in small teams, write clean and documented object-oriented code in Python, C++ and Swift. Lot of my code is implemented in ROS (Robotic Operating System).</p>
    </div>
  </div>
</div>
