<div class="user-details">
  <h1>Publications</h1>

  <h2>Software</h2>
  <p>Michael Tesař. (2016). Frontal alpha asymmetry toolbox. Zenodo. http://doi.org/10.5281/zenodo.160820. https://github.com/neuropacabra/asymmetry-toolbox</p>
​
<h2>EEG</h2>
<p>BEČEV, O., MAJCHROWICZ, B., TESAŘ, M., WIERZCHOŃ, M., BRAZDIL, M. Can free will fold the space? The relation between space perception, time perception, and explicit agency in voluntary actions. Reading Emotions Symposium 2016 GB. Velká Británie. 15.06.2016 - 16.06.2016.</p>
<p>PLASSOVÁ, M., VAVREČKA, M., TESAŘ, M. Aproximální numerický systém u dětí. In Vavrečka, , Bečev, , Hoffmann, , Štěpánová, Kognice a umělý život XVI.. Praha : ČVUT, 2016, s. 79-84. ISBN 978-80-01-05915-9.</p>
<p>PLASSOVÁ, M., TESAŘ, M., VAVREČKA, M., VALUCHOVÁ, K. Approximate number system in children. In McGreevy, , Robert, Proceedings of the 6th Biannual CER Comparative European Research Conference. London : Sciemcee Publishing, 2016, s. 182 - 187. ISBN 978-0-9935191-3-0.</p>
<p>PLASSOVÁ, M., VAVREČKA, M., MRHÁLEK, T., TESAŘ, M., VALUCHOVÁ, K. Approximate number system task diagnostic potential among preschoolers. In MEZINÁRODNÍ MASARYKOVA KONFERENCE PRO DOKTORANDY A MLADÉ VĚDECKÉ PRACOVNÍKY. Hradec Králové: Magnanimitas, 2016, s. 933-939. ISBN 978-80-87952-17-7.</p>
<p>Tesař, M., Vavrečka, M. (2016). EEG detekce emoční valence: Frontální alfa asymetrie jako klasifikátor valence emocí. In Kognice a umělý život (Vol. 16). Telč: Czech Technical University. Retrieved from http://www.kognice.eu/</p>
<p>Tesař, M. (2015).Neuroetické aspekty morálního usuzování u adolescentů. In D. Kučera (Ed.), PsychologyNow! (pp.139–145). České Budějovice: Pedagogická fakulta Jihočeské univerzity. 978-80-7394-530-5</p>
</div>
